/* ---------------------------------------------- */
/* COLORS */
/* https://coolors.co/070707-d3d3d3-223843-e8f5e9-f4faf5 */
/* ---------------------------------------------- */
.carrot-orange {
  background-color: #e8871e;
}

.wintergreen-dream {
  background-color: #5b9279;
}

.sunray {
  background-color: #edb458;
}

.medium-vermilion {
  background-color: #d36135;
}

.selective-yellow {
  background-color: #f3b700;
}

.keppel {
  background-color: #3ab795;
}

.white-smoke {
  background-color: #f4faf5;
}

.licorce {
  background-color: #12130f;
}

.japanese-indigo {
  background-color: #223843;
}

.smoky-black{
  background-color: #070707;
}

.paynes-grey {
  background-color: #5d737e;
}

.columbia-blue {
  background-color: #c2e7da;
}

/*
columbian: c3dfe0
payne's grey: 5d737e
*/
/* ---------------------------------------------- */
/* NAVBAR CENTERING
/* ---------------------------------------------- */
ul.nav-center {
    text-align: center;
}
ul.nav-center li {
    display: inline;
    float: none;
}
ul.nav-center li a {
    display: inline-block;
}

/* ---------------------------------------------- */
/* CUP OF TEA */
/* ---------------------------------------------- */
.cup-of-tea {
  width: 300px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 15% 0;
}

.cup {
    border-radius: 50%;
    background: #fff;
    width: 82.6%;
    height: 100%;
    padding-top: 40px;
    position: relative;
    /*box-shadow: 0 2px 2px #767676;*/
}

.tea {
    border-radius: 50%;
    background: #492b0e; /*#241406;*/
    width: 85%;
    height: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42.2%;
    margin-top: -42.2%;
}

.handle {
    border-radius: 50%;
    width: 44.4%;
    height: 22.2%;
    background: #fff;
    position: absolute;
    top: 39.8%; /* or 60% */
    right: 0;
    /*box-shadow: 0 2px 2px #767676;*/
}

.my-name {
    text-align: center;
    color: #fff; /* #efe8e3; */
    margin-top: 38%;
    font-size: 180%;
}

/* ---------------------------------------------- */
/* Progress Bar */
/* ---------------------------------------------- */
.progress-bar {
  height: 20px;
  background-color: lightgray;
}

.progress-bar-inner{
  height: 20px;
  background-color: #8c271e; /*vivid auburn*/
}

/* ---------------------------------------------- */
/* Image */
/* ---------------------------------------------- */
/*.bg {
  background: url("../img/laptop_desktop.jpg") no-repeat center center fixed;
  
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}*/

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: dimgrey;
  background-image: url("../img/laptop_desktop.jpg");
  background-size: cover;
}

.card-image > .overlay {
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  left: 0;
  background-color:#070707;
  opacity:0.45;
  z-index: 100;
  display: block;
  transition-duration: 0.5s;
}

.card-image:hover > .overlay {
  opacity: 0.0;
  transition-duration: 0.5s;
}

.card-title {
  z-index: 101;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ad343e; /*sweet brown*/
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #d9a2a7;
}

.image a {
  opacity: 100;
}
/* ---------------------------------------------- */
/* Formatting */
/* ---------------------------------------------- */
.space-btw-sections {
  padding-top: 25px;
}

body {
  margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-content {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100px;
}

nav .logo-pad {
  padding-left: 20px;
}

ul.padding {
  padding: 0 20px;
}

ul.padding li {
  padding-top: 10px;
}

.about {
  color: #fff;
}

.section-padding {
  padding: 45px 0;
}

.div-container {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
}

.div-content {
  margin-top: 30px;
  padding: 4px 0 10px;
  width: auto;
  overflow: auto;
}

.h-pad {
  padding-left: 20px;
}

.skill-categ {
  font-size: 20px;
  text-decoration: underline;
  margin-top: 20px;
}

.contact-links {
  margin-top: 10px;
}

footer .row {
  margin-bottom: 0;
  padding-bottom: 20px;
}

/* ---------------------------------------------- */
/* Mobile Site */
/* ---------------------------------------------- */
@media only screen and (max-width: 992px) {
  nav .logo-pad {
    padding-left: 0px;  
  }
  
  .h-pad {
    font-size: 250%;  
  }
  
  .card .card-content {
    font-size: 150%;
  }
  
  .card .card-title {
    font-size: 260%;
  }
  
  .card .card-action {
    font-size: 170%;
  }
  
  .contact-links {
    font-size: 120%;
  }
  
  .skill-categ {
    font-size: 200%;;
  }
  
  .skills ul li {
    font-size: 200%;
  }
}