/* ---------------------------------------------- */
/* COLORS */
/* https://coolors.co/070707-d3d3d3-223843-e8f5e9-f4faf5 */
/* ---------------------------------------------- */
.carrot-orange {
  background-color: #e8871e;
}

.wintergreen-dream {
  background-color: #5b9279;
}

.sunray {
  background-color: #edb458;
}

.medium-vermilion {
  background-color: #d36135;
}

.selective-yellow {
  background-color: #f3b700;
}

.keppel {
  background-color: #3ab795;
}

.white-smoke {
  background-color: #f4faf5;
}

.licorce {
  background-color: #12130f;
}

.japanese-indigo {
  background-color: #223843;
}

.smoky-black{
  background-color: #070707;
}
/* ---------------------------------------------- */
/* NAVBAR CENTERING
/* ---------------------------------------------- */
ul.nav-center {
    text-align: center;
}
ul.nav-center li {
    display: inline;
    float: none;
}
ul.nav-center li a {
    display: inline-block;
}

/* ---------------------------------------------- */
/* CUP OF TEA */
/* ---------------------------------------------- */
.cup-of-tea {
  width: 300px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 15% 0;
}

.cup {
    border-radius: 50%;
    background: #fff;
    width: 82.6%;
    height: 100%;
    padding-top: 40px;
    position: relative;
    /*box-shadow: 0 2px 2px #767676;*/
}

.tea {
    border-radius: 50%;
    background: #492b0e; /*#241406;*/
    width: 85%;
    height: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42.2%;
    margin-top: -42.2%;
}

.handle {
    border-radius: 50%;
    width: 44.4%;
    height: 22.2%;
    background: #fff;
    position: absolute;
    top: 39.8%; /* or 60% */
    right: 0;
    /*box-shadow: 0 2px 2px #767676;*/
}

.my-name {
    text-align: center;
    color: #fff; /* #efe8e3; */
    margin-top: 38%;
    font-size: 180%;
}

/* ---------------------------------------------- */
/* Progress Bar */
/* ---------------------------------------------- */
.progress-bar {
  height: 20px;
  background-color: lightgray;
}

.progress-bar-inner{
  height: 20px;
  background-color: #8c271e; /*vivid auburn*/
}

/* ---------------------------------------------- */
/* Formatting */
/* ---------------------------------------------- */
.space-btw-sections {
  padding-top: 25px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .logo-pad {
  padding-left: 20px;
}

ul.padding {
  padding: 0 20px;
}

ul.padding li {
  padding-top: 10px;
}

.section-padding {
  padding: 45px 0;
}

.div-container {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
}

.div-content {
  margin-top: 30px;
  padding: 4px 0 10px;
  width: auto;
  overflow: auto;
}

.h-pad {
  padding-left: 20px;
}

.skill-categ {
  font-size: 20px;
  text-decoration: underline;
  margin-top: 20px;
}