/* ---------------------------------------------- */
/* COLORS */
/* ---------------------------------------------- */
.carrot-orange {
  background-color: #e8871e;
}
/* ---------------------------------------------- */
/* NAVBAR CENTERING
/* ---------------------------------------------- */
/*
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
*/

ul.nav-center {
    text-align: center;
}
ul.nav-center li {
    display: inline;
    float: none;
}
ul.nav-center li a {
    display: inline-block;
}

/* ---------------------------------------------- */
/* CUP OF TEA */
/* ---------------------------------------------- */
.cup-of-tea {
  width: 300px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 15% 0;
}

.cup {
    border-radius: 50%;
    background: #fff;
    width: 82.6%;
    height: 100%;
    padding-top: 40px;
    position: relative;
    /*box-shadow: 0 2px 2px #767676;*/
}

.tea {
    border-radius: 50%;
    background: #492b0e; /*#241406;*/
    width: 85%;
    height: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42.2%;
    margin-top: -42.2%;
}

.handle {
    border-radius: 50%;
    width: 44.4%;
    height: 22.2%;
    background: #fff;
    position: absolute;
    top: 39.8%; /* or 60% */
    right: 0;
    /*box-shadow: 0 2px 2px #767676;*/
}

.my-name {
    text-align: center;
    color: #fff; /* #efe8e3; */
    margin-top: 38%;
    font-size: 180%;
}

/* ---------------------------------------------- */
/* Formatting */
/* ---------------------------------------------- */
.space-btw-sections {
  padding-top: 25px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .logo-pad {
  padding-left: 20px;
}